{
	email {$ACME_EMAIL}
}

hub.krasnevune.cz {
	encode gzip

	route {
		# Public widget endpoint - return static JS response
		handle_path /api/widgets/inventory/recommendations.js* {
			header Content-Type application/javascript
			respond "console.log('Widget loading...');" 200
		}

		handle /api/widgets* {
			reverse_proxy nginx:80 {
				header_up X-Forwarded-Proto https
				header_up X-Forwarded-Host {http.request.host}
				header_up X-Forwarded-For {http.request.remote}
			}
		}

		handle /api* {
			reverse_proxy nginx:80 {
				header_up X-Forwarded-Proto https
				header_up X-Forwarded-Host {http.request.host}
				header_up X-Forwarded-For {http.request.remote}
			}
		}

		handle /widgets* {
			reverse_proxy nginx:80
		}

		handle /storage* {
			reverse_proxy nginx:80
		}

        handle /plugins* {
            reverse_proxy nginx:80
        }
        handle /inventory/widgets* {
            reverse_proxy nginx:80
        }

        handle /pim/widgets/* {
            reverse_proxy backend:80
        }

		handle_path /microshop* {
			reverse_proxy storefront:3000
		}

		handle /_next/* {
			reverse_proxy storefront:3000
		}

		handle /favicon.ico {
			reverse_proxy storefront:3000
		}

		handle /test* {
			reverse_proxy nginx:80
		}

		handle /admin* {
			reverse_proxy nginx:80
		}

		handle {
			reverse_proxy frontend:5173
		}
	}
}

